#id {
    margin-left: 6.8%;;
}
#name {
    margin-left: 5%;
}
#salary {
    margin-left: 2%;;
}
table {
    margin-left: 10%;
    width: 20%;
    background-color: cadetblue;
    text-align: center;
}
#Button {
    margin-left: 8.2%;
    margin-bottom: 2%;
}